body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

ul {
    list-style: none; /* Remove default bullets */
}

ul li::before {
    content: "\0000BB";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #fb8c00; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

a {
    color: #fb8c00;
}

nav {
    display: flex;
    padding: 30px 0;
    background: #fb8c00;
}
nav a {
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: white;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.content-holder {
    display: flex;
}

.content-holder .pages {
    flex-grow: 1;
    min-height: calc(100vh - 121px);
    width: calc(100vw - 300px);
}

.content-holder .pages.no-history {
    min-height: calc(100vh - 80px);
}

.side {
    padding: 25px;
    border-left: 2px solid #fb8c00;
    width: 300px;
    position: relative;
}

.side .visit-counter {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
}

.side .container-calendar{
    height: calc(80% - 110px);
    /*background: pink;*/
}

#history {
    border-bottom: 2px solid #fb8c00;
    padding: 10px;
}

/**************/
/* MAT COLORS */
/**************/
.mat-col-primary-light {
    color: #00227b;
}

.mat-col-primary-dark {
    color: white;
}

.mat-back-primary-light {
    background: white;
}

.mat-back-primary-dark {
    background: #00227b;
}


.mat-col-secondary-light {
    color: #fb8c00;
}

.mat-col-secondary-dark {
    color: black;
}

.mat-back-secondary-light {
    background: white;
}

.mat-back-secondary-dark {
    background: #fb8c00;
}

/***************/
/* game martin */
/***************/
.drop-target {
    background-color: #29e;
    border-color: #fff;
}

.drag-drop {
    padding: 0;

    color: #fff;
    background-color: #29e;

    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);

    transition: background-color 0.3s;
}


.dropzone {
    width: 62px;
    height: 62px;
    display: inline-block;
    position: relative;
}

.puzzle-piece {
    width: 100px;
    height: 100px;

    background-size: contain;
    display: inline-block;

    box-sizing: border-box;
    padding: 19px;
    z-index: 2;
}

.puzzle-holder {
    height: auto;
    width: 100%;
    background: blue;
}

#outer-dropzone {
    width: 248px;
    height: 248px;
    touch-action: none;
    margin: 0 auto;
    position: relative;
    line-height: 0;
}

#outer-dropzone::after {
    content: "";
    background: url("img/puzzle_mato/pucle.jpg");
    background-size: contain;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 248px;
    height: 248px;
}

#page_game_martin {
    padding: 20px 0;
}

.dropped {
    top: -19px;
    left: -19px;
    position: absolute;
    z-index: -1;
}

/* fix pretoze tento diel ma zle rozmery */
.puzzle-piece.piece-10.dropped {
    left: -21px;
}

/***********/
/* Kontakt */
/***********/
.contacts, table {
    max-width: 650px;
    margin: 0 auto;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
}

.contacts .contact-container {
    padding: 10px 20px;
    margin: 0 auto;
}

table {
    padding: 20px;
}

table th {
    color: #00227b;
    border: 2px solid #fb8c00;
}

tbody th {
    text-align: right;
}

thead td {
    text-align: right;
    border: 2px solid #fb8c00;
    font-weight: bold;
    color: #fb8c00;
    text-transform: uppercase;
}

th,td {
    border: 1px solid #fb8c00;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

tbody td {
    color: red;
}
table .true {
    color: green;
}

/***************/
/* Uvod */
/***************/

#stlpce{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}
.stlpce{
    display: block;
    flex-grow: 1;
    flex-basis: 280px;
    border: 5px solid #fb8c00;

    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    position: relative;
}

.stlpce p {
    text-align: justify;
}

.stlpce a {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}
.stlpce.color-clanok1 {
    background-color: lightgreen;
}
.stlpce.color-clanok2 {
    background-color: #bcaaa4;
    order: 1;
}
.stlpce.color-clanok3 {
    background-color: #fff59d;
}
.button{
    background-color: #ffb74d;
    color: black;
    border: 3px solid #fb8c00;
    padding: 5px 12px;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    cursor: pointer;
}
.name{
    font-size: 20px;
    padding: 5px 12px;
    border: 5px solid #fb8c00;
    margin: 2px 2px;
}
.date{
    font-size: 20px;
    padding: 5px 12px;
    border: 5px solid #fb8c00;
    margin: 2px 2px;
}
.operation{
    font-size: 20px;
    padding: 5px 12px;
    border: 5px solid #fb8c00;
    margin: 2px 2px;
}
#copy{
    float: right;
}
